<div class="form">
    <div class="form__header">
        <h1 class="form__title">Registeration</h1>
    </div>
    <div class="form__input-container">
      <form>
        <div class="form__group">
          <input type="text" class="form__input" placeholder="Full Name">
          <!-- <span class="form__hint success-hint">Name is required.</span> -->
        </div>
        <div class="form__group">
          <input type="email" class="form__input" placeholder="Email">
          <!-- <span class="form__hint success-hint">Name is required.</span> -->
        </div>
        <div class="form__group">
          <input type="text" class="form__input" placeholder="Username">
          <!-- <span class="form__hint success-hint">Name is required.</span> -->
        </div>
        <div class="form__group">
          <input type="password" class="form__input" placeholder="Password">
          <!-- <span class="form__hint success-hint">Name is required.</span> -->
        </div>
        <div class="form__group">
          <input type="password" class="form__input" placeholder="Confirm Password">
          <!-- <span class="form__hint success-hint">Name is required.</span> -->
        </div>

        <div class="form__group">
          <button class="button button--primary form__button">Register</button>
          <button class="button button--default form__button">Cancel</button>
        </div>
      </form>
    </div>
  </div>