
$color-white: #FFF;
$color-primary-accent: #e5f6fd;
$color-primary-light-1:#03a9f4;
$color-primary-dark-1:#0288d1;

$color-tertiary-light-1:#b388ff;
$color-tertiary-dark-1:#6200ea;

$color-fortiary-dark-1: #aeea00;
$color-fortiary-light-1: #d4e157;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-twitter-light: #0084b4;
$color-facebook-dark: #3B5998;
$color-instagrap-dark: #cd486b;
$color-youtube-dark: #ff0000;
$color-linkedin-dark: #0077B5;

$color-green-light: #558b2f;
$color-red-light: #ff3d00;


// Grediants


// Shadows
$shadow-medium: 0 .5rem 4rem rgba($color-primary-dark-1, .3);

